/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body{
    background-color: dodgerblue;
}

.i-element, .Fizz, .Buzz, .FizzBuzz{
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
    
    border-radius: 8px;
}

h1{
    font-size: 70px;
}

/* utils */

.i-element{
    background-color: white;
}

.Fizz{
    background-color: aquamarine;
}

.Buzz{
    background-color: gold;
}

.FizzBuzz{
    background-color: deeppink;
    
    color: white;
    font-size: 18px;
}